<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngIf="user">
        <td>{{ user.id }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.type }}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-info" routerLink="/users">Back</button>
  </div>
</div>


