<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Length</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.id }}</td>
        <td ><a routerLink="/courses/{{course.id}}">{{course.name}}</a></td>
        <td>{{ course.courseLength }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

